<%= form_for(@swarm_request) do |f| %>
  <% if @swarm_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swarm_request.errors.count, "error") %> prohibited this swarm_request from being saved:</h2>

      <ul>
      <% @swarm_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item, "What do you need? (be specific)"%><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :address, "Address of where to deliver (be as specific as you want)" %><br />
    <%= f.text_field :address %><br />
    <span style="font-size: 10px">ie: Atlanta, GA or 123 Main St, Atlanta, GA</span>
  </div>
  <div class="field">
    <%= f.label :suggested_price, "How much are you willing to pay?"%><br />
    <%= f.text_field :suggested_price %></br>
    <span style="font-size: 10px">Consider the cost of the item plus a reasonable delivery fee</span>
  </div>
  <div class="field">
    <%= f.label :delivery_instructions, "Delivery Instructions (gate code, call when you arrive, etc.)" %><br />
    <%= f.text_field :delivery_instructions %>
  </div>
  <div class="actions">
    <%= f.submit "Place Request Now!" %>
  </div>
<% end %>
