<p id="notice"><%= notice %></p>

<p>
  <b>Boolean testing delete this from page:</b>
  <%= @swarm_request.auction_closed %>
</p>

<p>
  <b>Item:</b>
  <%= @swarm_request.item %>
</p>

<p>
  <b>Street address:</b>
  <%= @swarm_request.address %>
</p>

<p>
  <b>Lat:</b>
  <%= @swarm_request.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @swarm_request.lng %>
</p>

<p>
  <b>User:</b>
  <%= @swarm_request.user_id %>
</p>

<p>
  <b>Delivery instructions:</b>
  <%= @swarm_request.delivery_instructions %>
</p>

<h2>Bids</h2>
<% @swarm_request.bids.each do |bid| %>
  <p><%= bid.user.email %> bid: $<%= bid.price %> on <%= bid.created_at %>.</p>
<% end %>


<%= link_to 'Edit', edit_swarm_request_path(@swarm_request) %> |
<%= link_to 'Back', swarm_requests_path %>
