<h1>Listing bids</h1>

<table>
  <tr>
    <th>Price</th>
    <th>User</th>
    <th>Swarm request</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%= bid.price %></td>
    <td><%= bid.user_id %></td>
    <td><%= bid.swarm_request_id %></td>
    <%# TODO: delete this comment.  This is a nested route.  So it needs and :id and a :swarm_request_id.  So we have to pass both: %>
    <td><%= link_to 'Show', swarm_request_bid_path(:id => bid.to_param, :swarm_request_id => @swarm_request.to_param) %></td>
    <td><%= link_to 'Edit', edit_swarm_request_bid_path(:id => bid.to_param, :swarm_request_id => @swarm_request.to_param) %></td>
    <td><%= link_to 'Destroy', swarm_request_bid_path(:id => bid.to_param, :swarm_request_id => @swarm_request.to_param), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bid', new_swarm_request_bid_path(:swarm_request_id => @swarm_request.to_param) %>
