<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @bid.price %>
</p>

<p>
  <b>User:</b>
  <%= @bid.user_id %>
</p>

<p>
  <b>Swarm request:</b>
  <%= @bid.swarm_request_id %>
</p>


<%= link_to 'Edit', edit_swarm_request_bid_path(:id => @bid.to_param, :swarm_request_id => @swarm_request.to_param) %> |
<%= link_to 'Back', swarm_request_bids_path(:swarm_request_id => @swarm_request.to_param) %>
