<header>
  
    <div id ="logo" class="grid_6 logopad">
      <%= link_to logo, root_path %>
    </div>
    <div id ="login" class="grid_6 right alpha">
      <span style = "font-size: 12px; color: white;">
        <% if user_signed_in? %>
          Signed in as <%= current_user.username %>.  Not You?
            <%= link_to "Sign Out", destroy_user_session_path, :class => "smallwhitelink" %>
        <% else %>              
            <%= link_to "Log In", new_user_session_path,       :class => "smallwhitelink" %> | 
            <%= link_to "Sign Up", new_user_registration_path, :class => "smallwhitelink" %>
        <% end %>
      </span>
    </div>
  


</header>
