
<% @body_onload = "initialize();" %>


<script type="text/javascript">
  function initialize() {
   

    //custom styling variables
 var stylez = [
    {
      featureType: "road.local",
      elementType: "geometry",
      stylers: [
        { hue: "#FFFFFF" },
        { saturation:100 },
        { lightness: 100}
      ]
    },
    {
      featureType: "landscape",
      elementType: "geometry",
      stylers: [
        
        {lightness: -80 },
        {saturation:-100},
        
      ]
    }
  ];
      //make this default to ip based location in production
    var latlng = new google.maps.LatLng(33.7488889, -84.3880556);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'hiphop']
      }
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var styledMapOptions = {
      name: "Swarm"
    }

    var jayzMapType = new google.maps.StyledMapType(
      stylez, styledMapOptions);

  map.mapTypes.set('hiphop', jayzMapType);
  map.setMapTypeId('hiphop');
    
    //create empty infowindow outside of loop
    infowindow = new google.maps.InfoWindow();
    //put location markers on map
    <% @swarm_requests.each do |swarm_request| %>
      // don't show the marker if we don't have a lat lng or if a bid has already been accepted
      <% if swarm_request.geocoded? %>
         
        
        var request_latlng = new google.maps.LatLng(<%= swarm_request.lat %>, <%= swarm_request.lng %>);
        var marker = new google.maps.Marker({ 
          position: request_latlng, 
          map: map, 
          title: "User: <%= swarm_request.user.username %> | Item Requested: <%= swarm_request.item %> | Offer: $<%= swarm_request.suggested_price %>"
        });
        
        var contentString = '<div class = "infobubble">'+
                            'Offer: <%= swarm_request.suggested_price %></br>'+
                            'Item Requested: <%= swarm_request.item %></br>'+
                            'User: <%= swarm_request.user.username %><br>'+
                            'Address: <%= swarm_request.address %><br>'+
                            '<%= button_to "Deliver this now!", accept_requester_price_now_swarm_request_path(:id => swarm_request.to_param, :user_id => @user.to_param), :confirm => "You are agreeing to deliver this item for the price listed.  An email will be sent with the address and relevant information. ", :method => :put %>'+
                            '<%= link_to " Make Counter Offer", new_swarm_request_bid_path(:swarm_request_id => swarm_request.id) %>'+
                            '</div>';
       

         addContentToWindow(marker, contentString);
  
     
     
        
        <% end %>
    <% end %>  
      
       function addContentToWindow(marker, contentString){
         google.maps.event.addListener(marker, 'click', function() {
         infowindow.setContent(contentString);
         infowindow.open(map, marker);
         });
       }
  }
 

</script>
<div id="map_canvas" class="mapitself"></div>
